@charset "UTF-8";/* 인코딩으로 꺠질 수 있는 문자 깨짐 방지  */

:root{
    --header-color :rgb(243, 236, 236) ;
    --bule : #0bd ;
}

html {
    font-size: 100%; /* 사용자가 지정한 폰트 크기가 잘나올 수 있게*/
}

body {
    font-family: "나눔고딕", NanumGothic , "맑은고딕" ,MalgunGothic , "Apple SD Gothic Neo" , sans-serif;
    line-height: 1.7; /* 줄의 높이*/
    color : var(--header-color)
}

a{
    text-decoration: none; 
}

img{
    max-width: 100%; /* d이미지 크기를 지정합니다.*/
}

/* 배경화면 이미지 첨부*/
#home{
    background-image: url(../FullScreen/image/background.jpg);
    min-height: 100vh;
}

/* 배경화면 이미지에 색 넣기 */
/*
#home{
    background-image: url(../FullScreen/image/background.jpg);
    background-color: var(--bule);  
    background-blend-mode: hard-light;  // 블랜드 모드 : 배경화면 밝기 모드 
    min-height: 100vh;
} 
*/

/* 배경화면 그레디언트 */
/* #home{
    background-image: linear-gradient(blue ,red);
    min-height: 100vh;
} */

/* 배경화면 이미지 그레디언트*/
/* #home{
    background-image: url(../FullScreen/image/background.jpg),linear-gradient(blue ,red);
    background-blend-mode: luminosity;
    min-height: 100vh;
} */


#home .page-title{
    text-transform: none;
}

.background{
    background-size: cover; /* 이미지의 가로세로 비율을 유지한 상태에서 꽉 채울떄 사용 */
    background-position: center top;
    background-repeat: no-repeat;
}

/* 전체 페이지 간격등 지정 */
.wrapper{
    max-width: 1100px;    
    margin: 0 auto; /* width 기준으로 중앙에 배치*/
    padding: 0 4%; /* 휴대폰등 작은 디스플레이를 고려해서 여백 지정*/
}

/* Header */
.page-header{
    display: flex;
    justify-content: space-between; /* 양쪽 끝에 붙이기*/
}

.main-nav {
    display: flex;  /* ul 안에 있는 li 가로로 지정하기 위함 */
    list-style: none; /* ul ,ol 스타일 제거 */
    text-transform: uppercase; /* 모두 대문자로 바꾼다.*/
    margin-top: 34px;
    font-size: 1.25 rem;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a{
    color: var(--header-color)
}

.main-nav a:hover{
    color: var(--bule);
}


/**
*  content
*/

.home-content{
    text-align: center;
    margin-top: 10%;
}

.home-content p{
    font-size: 1.125rem;
    margin: 10px 0 42px;
}

/* content title */
.page-title{
    font-size: 5rem;
    font-family: 'Philosopher',serif;
    font-weight: normal;
}

/* content button */
.button{
    font-size: 1.375rem;
    background: var(--bule);
    border-radius:  5px ;
    padding : 18px 32px;
    color:#fff;
}

.button:hover{
    background: #0090aa;
    
}









